@model Application.ViewModels.Profile.ProfileIndexViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<Infrastructure.Identity.ApplicationUser> _userManager;

@{
    ViewData["Title"] = "پروفایل کاربر";

    var user = await _userManager.GetUserAsync(User);
}



<partial name="_ProfileSideBar" model="Model.SideBarViewModel" />




<div class="col-lg-9 col-md-8 col-xs-12 pull-right" style="margin-top:140px;">

    @if ((!await _userManager.IsPhoneNumberConfirmedAsync(user))&&!string.IsNullOrEmpty(user.PhoneNumber))
    {
        <div class="alert alert-danger" role="alert">
            <p>شماره موبایل شما تایید نشده است. <a asp-action="VerifyMobile" asp-controller="Account" class="btn btn-success">تایید شماره موبایل</a></p>

        </div>

    }

    @if (!await _userManager.IsEmailConfirmedAsync(user))
    {
        <div class="alert alert-danger" role="alert">
            <p>ایمیل شما تایید نشده است. <a asp-action="VerifyEmail" asp-controller="Account" class="btn btn-success">تایید ایمیل</a></p>

        </div>

    }

    <!--PersonalInfo-->
    <div class="col-lg-6 col-xs-12 pull-right">
        <div class="headline-profile" style="margin-top:0;">

            <span>اطلاعات شخصی</span>
        </div>
        <div class="profile-stats">
            <div class="profile-stats-row">
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p><span> نام و نام خانوادگی :</span>@Model.ProfileInformations.FullName</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span>کد ملی :</span>
                            @if (string.IsNullOrEmpty(Model.ProfileInformations.PersonalCode))
                            {
                                @"-".ToString();
                            }
                            else
                            {
                                @Model.ProfileInformations.PersonalCode
                            }
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span>پست الکترونیک :</span>@Model.ProfileInformations.Email
                            @if (await _userManager.IsEmailConfirmedAsync(user))
                            {
                                <br />
                                <span class="badge badge-pill badge-success" style="padding:0px 5px;color:white;font-size:12px;display:inline;">تایید شده</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p style="direction:ltr;">
                            <span style="direction:rtl;">شماره تلفن همراه :</span>
                            @if (string.IsNullOrEmpty(Model.ProfileInformations.MobileNumber))
                            {
                                @Html.Raw("-")
                            }
                            else
                            {
                                @Model.ProfileInformations.MobileNumber.Remove(5, 4).Insert(5, "****")
                                @if (await _userManager.IsPhoneNumberConfirmedAsync(user))
                                {
                                    <br />
                                    <span class="badge badge-pill badge-success" style="padding:0px 5px;color:white;font-size:12px;display:inline;">تایید شده</span>
                                }
                            }
                        </p>

                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p><span>دریافت خبرنامه :</span>@((Model.ProfileInformations.NewsSubscribe) ? "بله":"خیر")</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p>
                            <span>شماره کارت :</span>
                            @if (string.IsNullOrEmpty(Model.ProfileInformations.CreditCardNumber))
                            {
                                @"-".ToString();
                            }
                            else
                            {
                                @Model.ProfileInformations.CreditCardNumber
                            }
                        </p>
                    </div>
                </div>
                <div class="profile-stats-action">
                    <a asp-action="EditPersonalInfo" class="link-spoiler-edit"><i class="fa fa-pencil"></i>ویرایش اطلاعات شخصی</a>
                </div>
            </div>
        </div>
    </div>

    <!--End PersonalInfo-->
    <!--Favorites-->
    <div class="col-lg-6 col-xs-12 pull-right">
        <div class="headline-profile headline-profile-favorites" style="margin-top:0;">
            <span>لیست علاقه مندی</span>
        </div>
        <div class="profile-stats">
            <div class="profile-recent-fav">
                <a href="#"><img src="~/assets/images/product-slider-2/111472656.jpg"></a>
                <div class="profile-recent-fav-col"><a href="#">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...</a></div>
                <div class="profile-recent-fav-price">۱,۷۴۶,۰۰۰تومان</div>
                <div class="profile-recent-fav-remove"><a href="#"><i class="fa fa-trash"></i></a></div>
            </div>

            <div class="profile-recent-fav">
                <a href="#"><img src="~/assets/images/product-slider-2/111472656.jpg"></a>
                <div class="profile-recent-fav-col"><a href="#">گوشی موبایل سامسونگ مدل Samsung Galaxy S10 Plus SM...</a></div>
                <div class="profile-recent-fav-price">۱,۷۴۶,۰۰۰تومان</div>
                <div class="profile-recent-fav-remove"><a href="#"><i class="fa fa-trash"></i></a></div>
            </div>
            <div class="profile-stats-action">
                <a href="#" class="link-spoiler-edit"><i class="fa fa-pencil"></i>مشاهده و ویرایش لیست علاقه مندی</a>
            </div>
        </div>
    </div>

    <!--End Favorites-->
    <!--Orders-->

    <div class="headline-profile order-end" style="margin-top:0;">
        <span>آخرین سفارش ها</span>
    </div>
    <div class="profile-stats profile-table">
        <div class="table-orders">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">شماره سفارش</th>
                        <th scope="col">تاریخ ثبت سفارش</th>
                        <th scope="col">مبلغ قابل پرداخت</th>
                        <th scope="col">مبلغ کل</th>
                        <th scope="col">عملیات پرداخت</th>
                        <th scope="col">جزئیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="order-code">DKC-57262900</td>
                        <td>1 آذر 1398</td>
                        <td>0</td>
                        <td>43,000 تومان</td>
                        <td class="text-success">پرداخت موفق</td>
                        <td><i class="fa fa-angle-left"></i></td>
                    </tr>
                </tbody>
            </table>

            <a href="#" class="table-orders-show-more">مشاهده لیست سفارش‌ها</a>
        </div>
    </div>
    <div class="page-profile headline-profile-favorites">
        <div class="page-navigation">
            <div class="page-navigation-title">سفارش‌های من</div>
            <a href="#" class="page-navigation-btn-back">بازگشت <i class="fa fa-angle-left"></i></a>
        </div>
        <div class="profile-orders">
            <div class="collapse">
                <div class="profile-orders-item">
                    <div class="profile-orders-header">
                        <a href="profile-order-2.html" class="profile-orders-header-details">
                            <div class="profile-orders-header-summary">
                                <div class="profile-orders-header-row">
                                    <span class="profile-orders-header-id">DKC-79356178</span>
                                    <span class="profile-orders-header-state">پرداخت شده</span>
                                </div>
                            </div>
                        </a>
                        <hr class="ui-separator">
                        <div class="profile-orders-header-data">
                            <div class="profile-info-row">
                                <div class="profile-info-label">تاریخ ثبت سفارش</div>
                                <div class="profile-info-value">۷ آذر ۱۳۹۸</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ قابل پرداخت</div>
                                <div class="profile-info-value">0</div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-label">مبلغ کل</div>
                                <div class="profile-info-value">430,000,0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End Orders-->
</div>