@model Domain.Models.SubCategoryItem
@inject Application.Interfaces.IUnitOfWork _context;

@{
    ViewData["Title"] = Model.Title;

    //var products = (await _context.Products.GetAsync(n => n.SubCategoryItemId == Model.Id)).ToList();
}


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubCategory.Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" id="btn-submit" value="حذف" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-default">بازگشت</a>
    </form>

    <hr />
    <h3>محصولات</h3>
    <hr />
    <table class="table" style="direction:rtl">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام</th>
                <th scope="col">عنوان</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>


            @*
                @{
                    int counter = 1;


                    foreach (var item in products)
                    {

                        <tr>
                            <th scope="row">@counter</th>
                            <td>@item.Name</td>
                            <td>@item.Title</td>
                            <td><a asp-action="DetailsAndDelete" asp-route-Id="@item.Id" asp-controller="Products" class="btn btn-sm btn-primary">نمایش</a></td>
                        </tr>


                        counter++;
                    }

                }

            *@
        </tbody>
    </table>
</div>



@section Scripts{

    <script>
        $('#btn-submit').on('click', function (e) {
            e.preventDefault();
            var form = $(this).parents('form');
            swal.fire({
                title: "حذف دسته بندی محصولات",
                text: "هشدار جدی: تمامی محصولات این دسته بندی حذف میشوند",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "حذف",
                cancelButtonText: "لغو"

            }).then(
                function () { form.submit(); },
                function () { return false; });;
        });
    </script>
}
